
@{
    ViewBag.Title = "ShowDataBasePhanQuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />  
    <title>Danh sách phân quyền</title>
    <style>
        .tableData {
            border-left: solid 1px #D8C3C3;
            border-top: solid 1px #D8C3C3;
        }
            .tableData tr {
            }
            .tableData td, .tableData th {
                border-right: solid 1px #D8C3C3;
                border-bottom: solid 1px #D8C3C3;
                text-align: left;
                padding: 5px;
            }
            .tableData td {
            }
            .tableData th {
                background-color:#FAFAFA;
                padding: 7px 5px;
                border-bottom-color:#9C9C9C;
            }

    </style>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
</head>
<body>
    <div>
        <table id="tbldata" class="tableData">
            <tr>
                <th>Mã nhân viên</th>
                <th>Tên nhân viên</th>
                <th>Email</th>
                <th>Chức vụ</th>
                <th>User name</th>
                <th>Mã phân quyền</th>
                <th>Tên quyền</th>
                @*<th>Actions</th>*@
            </tr>
        </table>
    </div>
    <script>
        $(function () {
            $.get("get_data", {}, function (data) {
                var row;
                $.each(data, function (i, v1) {
                    row += "<tr><td>" + v1.MaNV + "</td><td>" + v1.TenNV + "</td><td>" + v1.Email + "</td><td>" + v1.chucvu + "</td><td>" + v1.user_name + "</td><td>" + v1.id_per_rel + "</td><td>" + v1.name_per + "</td></tr>"

                });
                $("#tbldata").append(row);
            })
        })
    </script>
</body>
</html>

