@model ProjectNghiPhep.Models.NHANVIEN
@using (Html.BeginForm()) { 
    <div class="container">
    <div class="form-group">
        <label>Họ & tên:</label>
        <input class="form-control" name="TenNV" placeholder="Enter TenNV" />
    </div>

    <div class="form-group">
        <label>Giới tính:</label>
        <input class="form-control" name="GioiTinh" placeholder="Enter GioiTinh" />
    </div>

        <div class="form-group">
            <label>Ngày sinh:</label>
            <input type="date" class="form-control" name="NgaySinh" placeholder="Enter NgaySinh" />
        </div>

        <div class="form-group">
            <label>Địa chỉ:</label>
            <input class="form-control" name="DiaChi" placeholder="Enter DiaChi" />
        </div>

        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" name="Email" placeholder="Enter Email" />
        </div>

        <div class="form-group">
            <label>Số điện thoại:</label>
            <input class="form-control" name="SDT" placeholder="Enter SDT" />
        </div>

        <div class="form-group">
            <label>Chức vụ:</label>
            <input class="form-control" name="chucvu" placeholder="Enter chucvu" />
        </div>

        <div class="form-group">
            <label>Tên đăng nhập:</label>
            <input class="form-control" name="user_name" placeholder="Enter user_name" />
        </div>
        <div class="form-group">
            <label>Mật khẩu:</label>
            <input class="form-control" name="pass" type="password" placeholder="Enter pass" />
        </div>

    <div class="button">
        <button>
            Lưu
        </button>
    </div>
</div>
}

